@import "tailwindcss";

@theme {
  --color-brand-green: #064e3b; /* Dark Green */
  --color-brand-gold: #d97706; /* Gold */
  --color-brand-cream: #fdfcf0;
}

@layer base {
  body {
    @apply text-stone-900 antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-stone-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-full border-2 border-stone-100 hover:bg-stone-400 transition-colors;
  }
}

.animate-in {
  animation: animate-in 0.3s ease-out;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
